{% extends "base.html" %}
{% load static %}

{% block subtitle %}Dashboard{% endblock %}

{% block content %}

{% for seller, items in sellers.items %}

  <a href="{% get_media_prefix %}{{ seller.photo }}"><img class="seller-photo" src="{% get_media_prefix %}{{ seller.photo }}"></a>
  <h3>{{ seller }}</h3>
  <button type="button" class="btn btn-info">
    <a href="{% url 'update_seller' seller.id %}">Edit Seller</a>
  </button>
  
  <button type="button" class="btn btn-danger">
    <a href="{% url 'delete_seller' seller.id %}">Delete Seller</a>
  </button>
  
  <br>
  <br>

  {% for item in items %}
  
    {% if item.photo %}
    <a href="{% get_media_prefix %}{{ item.photo }}"><img class="item-photo" src="{% get_media_prefix %}{{ item.photo }}"></a>
    {% endif %}
    <h4>{{ item }}</h4>
    <button type="button" class="btn btn-info">
      <a href="{% url 'update_item' item.id %}">Edit Item</a>
    </button>

    <button type="button" class="btn btn-danger">
      <a href="{% url 'delete_item' item.id %}">Delete Item</a>
    </button>

    <br>
    <br>

  {% endfor %}

  <br>
  <br>

{% endfor %}

<button type="button" class="btn btn-dark">
  <a href="{% url 'add_seller' %}">Add Seller</a>
</button>

{% if sellers %}

  <button type="button" class="btn btn-dark">
    <a href="{% url 'add_item' %}">Add Item</a>
  </button>

  {% if item %}  

    <br>

    <button type="button" class="btn btn-warning">
      <a href="{% url 'form' %}">Go To Form</a>
    </button>

  {% endif %}

{% endif %}

{% endblock %}