{% extends "base.html" %}
{% load static %}

{% block subtitle %}Form{% endblock %}

{% block content %}

  {% if error %}

  <h3>{{ error }}</h3>

  {% else %}

  {% if message %}
  <div class="alert alert-primary alert-dismissible fade show" role="alert">
    {{ message }}
  </div>
  {% endif %}

  <form method="post">
    {% csrf_token %}

    {% for seller, items in sellers.items %}

    <a href="{% get_media_prefix %}{{ seller.photo }}"><img class="seller-photo" src="{% get_media_prefix %}{{ seller.photo }}"></a>
    <h3>{{ seller }}</h3>

    <br>
  
    {% for item in items %}
    
      {% if item.photo %}
      <a href="{% get_media_prefix %}{{ item.photo }}"><img class="item-photo" src="{% get_media_prefix %}{{ item.photo }}"></a>
      {% endif %}
      <div class="fieldWrapper">
        <label for="id_{{ item }}">{{ item }}:</label> 
        <input type="number" name="{{ item }}" id="id_{{ item }}" step="1"  min="0">
      </div>
  
      <br>

    {% endfor %}
  
    <br>
  
    {% endfor %}

    <button type="submit" class="btn btn-primary submit-btn">Submit</button>
  </form>

  {% endif %}

{% endblock %}